body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #dfecf3;
}

.detail{
    width: 380px;
    float: left;
    padding: 15px;
}

.deleteBtn{
    float:right;
    color: #f34b4b;
    margin-right: 30px;
} 

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


input,
select,
textarea {
    max-width: 280px;
}